{% extends 'Alexsmith/base.html' %}
{% load static %}
{% block content %}
<main id='main'>
    <section id="testimonials" class="testimonials section-bg">
        <div class="container">

        <div class="section-title">
            <h2>Testimonials</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
          </div>

          <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
                {% for testimonial in testimonials  %}
                <div class="swiper-slide">
                    <div class="testimonial-item" data-aos="fade-up">
                      <p>
                          {{testimonial.description}}
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                      </p>
                      <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                      <h3>{{testimonial.name}}</h3>
                      <h4>{{testimonial.job}}</h4>
                    </div>
                    <form action="/testimonials/destroy/{{testimonial.id}}" method='POST' style='display: flex; justify-content: center;'>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                        <a href={% url 'testimonialsedit' testimonial.id %} class="btn btn-outline-success">edit</a>
                    </form>
              </div><!-- End testimonial item -->
              {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
        <a class="btn btn-outline-warning" href={% url 'testimonialscreate' %}>Créer</a> 
        </section><!-- End Testimonials Section -->
</main>
{% endblock content %}
