{% extends 'Alexsmith/base.html' %}
{% load static %}
{% block content %}
<main id='main'>
<h1>je suis la page skills</h1>


<section id="skills" class="skills section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Skills</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row skills-content">

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            {% for skill in skills %}
            <div class="progress">
                <span class="skill">{{skill.title_skills}} <i class="val"></i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{skill.lvl_skills}}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <a href={% url 'skillsdetail' skill.id %} class="btn btn-outline-success">Show</a>
              </div>
            {% endfor %}
        </div>
        
        <a class="btn btn-outline-warning" href={% url 'skillcreate' %}>Créer un member</a>
      </div>

    </div>
  </section><!-- End Skills Section -->
</main>
{% endblock content %}
